* {
    border-radius: 0;
    font: 18px "Arial", sans-serif;
}
::-webkit-scrollbar {
    width: 4px; /* ширина для вертикального скролла */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #0000002e;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00000052;
}
body {
    margin: 0;
    background-color: rgb(245, 245, 245);
    background-size: auto;
}
.todo {
    height: 100%;
    padding: 64px 0 100px 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list {
    width:450px;
    margin-bottom: 25px;
}
hr {
    display: none;
}
.todolist-wrapper {
    overflow: auto;
    max-height: 550px;
    margin-top: 23px;
}
.title {
    font: 21px "Arial", sans-serif;
    text-align: left;
}
.addtolist {
    width:450px;
    margin-left: 50px;
}
.listnull {
    font: 16px "Arial", sans-serif;
    color: grey;    
}
.list__item {
    margin-bottom: 35px;
    width: 100%;
    min-height: 60px;
    background-color: white;
    margin-right: 20px;
}
.list__item:last-child {
    margin-bottom: 0;
}
.wrapper {
    display: flex;
    padding: 20px 22px;
    border-bottom: 1px rgb(245, 245, 245) solid;
    position: relative;
}
.item-title {
    font: 16px 'Arial', sans-serif;
    line-height: 20px;
    min-height: 18px;
    word-wrap: break-word;
    overflow: hidden;
}
.item-delete{
    position: relative;
    margin-left: 9px;
    cursor: pointer;
    width: 15px;
    height: 20px;
}
.item-delete>div {
    position: absolute;
    width: 11px;
    height: 2px;
    background-color: rgb(162, 2, 2);
    transform: rotate(45deg);
    top: 8px;
    border-radius: 1px;
}
.item-delete>div:last-child {
    transform: rotate(-45deg);
}
.add-wrapper {
    width: 470px;
    height: 550px;
    background-color: white;
    margin-top: 23px;
}
.name, .descr {
    display: flex;
    flex-direction: column;
    font: 14px "Arial", sans-serif;
    color: grey;   
}
.descr {
    margin-top: 30px;
}
.descr_todo {
    padding: 20px 25px;
   /*  overflow: hidden; */
    font: 14px "Arial", sans-serif;
    word-wrap: break-word;
    display: block;
}
form {
    padding: 50px 40px;
}
#inDescr {
    border: 1px solid rgb(225, 225, 225);
    background-color: rgb(245, 245, 245);
    width: 390px;
    height: 230px;
    outline: none;
    resize: none;
}
#inName {
    border: 1px solid rgb(225, 225, 225);
    background-color: rgb(245, 245, 245);
    width: 390px;
    height: 45px;
    outline: none;
}
.button {
    margin-top: 30px;
    width: 224px;
    height: 55px;
    color: white;
    background-color: rgb(69, 69, 255);
    outline: none;
    border: none;
    cursor: pointer;
}
.off {
    width: 6px;
    height: 23px;
    background-color: black;
    transform-origin: 50% 13%;
    transform: perspective(1px) rotateZ(90deg) rotatex(-13deg);
    top: 28px;
    right: 27px;
    position: absolute;
    cursor: pointer;
    transition: 0.04s all;
}
.paddingIsNull {
    padding: 0;
}

@media screen and (max-width: 1040px) {
    .addtolist {
        margin-left: 0;
    }
    .add-wrapper {
      width: 100%;
    }
    #inName {
        width: 100%;
    }
    #inDescr {
        width: 100%;
    }
  }
@media screen and (max-width: 769px) {
    .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width:90%;
}
    .addtolist {
        width: 100%;
  }
    .list {
        width: 100%;
    }
}
